 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("../images/65eee306e55027a50f8d6cd3ac57c3a383ccb91342bc5c09d918f876088d4d13c460f92c18f882f624273f9d05870615055fd681bdd1903f5c2080_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 274px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: 21px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 49px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 380px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 239px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 805px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1024px;
  margin: 60px auto 0 58px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 584px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-size: 1.125rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 3rem;
  line-height: 1;
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-2 .u-text-3 {
  line-height: 2;
  font-size: 1.25rem;
  margin: 24px 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  border-style: none;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 400;
  margin: 24px auto 0 0;
  padding: 11px 50px 13px 48px;
}

.u-section-2 .u-image-1 {
  min-height: 584px;
  background-image: url("../images/qrcode_veganplus.netlify.app.png");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 0 0;
}

.u-section-2 .u-btn-2 {
  background-image: linear-gradient(to right, #478ac9, #2cccc4);
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.875rem;
  letter-spacing: 1px;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  margin: 24px auto 44px;
  padding: 20px 106px 21px 105px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 757px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 536px;
  }

  .u-section-2 .u-text-2 {
    font-size: 2.625rem;
  }

  .u-section-2 .u-image-1 {
    min-height: 536px;
  }

  .u-section-2 .u-btn-2 {
    font-size: 0.9375rem;
    padding: 8px 36px 9px 35px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 293px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-2 {
    font-size: 2.125rem;
  }

  .u-section-2 .u-image-1 {
    min-height: 411px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-2 .u-image-1 {
    min-height: 617px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-2 {
    font-size: 2rem;
  }

  .u-section-2 .u-image-1 {
    min-height: 388px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 500px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-3 .u-image-1 {
  min-height: 400px;
  background-image: url("../images/3fda0afd206a89780cb9b9d6f0e2c13173d0a0aa2cf3bf9cfbd17d6cf27fd80acaae3d032fc8521d6666ab2ee6d808681ecf2357168ac15248b1b9_1280.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  margin: 0 auto;
}

.u-section-3 .u-text-2 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 430px;
  }

  .u-section-3 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-3 .u-image-1 {
    min-height: 330px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 330px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 353px;
  }

  .u-section-3 .u-image-1 {
    min-height: 253px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 580px;
  }

  .u-section-3 .u-image-1 {
    min-height: 380px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 439px;
  }

  .u-section-3 .u-image-1 {
    min-height: 239px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 500px;
}

.u-section-4 .u-slider-1 {
  min-height: 415px;
  margin-bottom: 60px;
  margin-top: 0;
}

.u-section-4 .u-carousel-indicators-1 {
  position: absolute;
  left: 522px;
  top: auto;
  right: auto;
  bottom: -45px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 11px;
  margin-bottom: -84px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  min-height: 488px;
  grid-gap: 0px 0px;
}

.u-section-4 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-4 .u-image-1 {
  height: 213px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-1 {
  margin: 20px auto 0 0;
}

.u-section-4 .u-text-2 {
  margin: 0;
}

.u-section-4 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none none solid;
  text-transform: uppercase;
  margin: 40px auto 0 0;
  padding: 2px 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-4 .u-image-2 {
  height: 213px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-3 {
  margin: 20px auto 0 0;
}

.u-section-4 .u-text-4 {
  margin: 0;
}

.u-section-4 .u-btn-2 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none none solid;
  text-transform: uppercase;
  margin: 40px auto 0 0;
  padding: 2px 0;
}

.u-section-4 .u-container-layout-4 {
  padding: 20px 30px;
}

.u-section-4 .u-image-3 {
  height: 213px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-5 {
  margin: 20px auto 0 0;
}

.u-section-4 .u-text-6 {
  margin: 0;
}

.u-section-4 .u-btn-3 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none none solid;
  text-transform: uppercase;
  margin: 40px auto 0 0;
  padding: 2px 0;
}

.u-section-4 .u-container-layout-5 {
  padding: 0;
}

.u-section-4 .u-list-2 {
  grid-template-rows: auto;
  margin-top: 20px;
  margin-bottom: -57px;
}

.u-section-4 .u-repeater-2 {
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  min-height: 452px;
  grid-gap: 0px 0px;
}

.u-section-4 .u-container-layout-6 {
  padding: 20px 0;
}

.u-section-4 .u-image-4 {
  height: 213px;
  width: 322px;
  margin: 0 auto 0 20px;
}

.u-section-4 .u-text-7 {
  margin: 20px auto 0 30px;
}

.u-section-4 .u-text-8 {
  margin: 0 30px;
}

.u-section-4 .u-container-layout-7 {
  padding: 20px 0;
}

.u-section-4 .u-image-5 {
  height: 213px;
  width: 322px;
  margin: 0 auto 0 20px;
}

.u-section-4 .u-text-9 {
  margin: 20px auto 0 30px;
}

.u-section-4 .u-text-10 {
  margin: 0 30px;
}

.u-section-4 .u-container-layout-8 {
  padding: 20px 0;
}

.u-section-4 .u-image-6 {
  height: 213px;
  width: 322px;
  margin: 0 auto 0 20px;
}

.u-section-4 .u-text-11 {
  margin: 20px auto 0 30px;
}

.u-section-4 .u-text-12 {
  margin: 0 30px;
}

.u-section-4 .u-carousel-control-1 {
  width: 50px;
  height: 50px;
}

.u-section-4 .u-carousel-control-2 {
  width: 50px;
  height: 50px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-slider-1 {
    height: auto;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(3, 33.333333333333336%);
    min-height: 402px;
  }

  .u-section-4 .u-image-1 {
    height: 169px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-2 {
    height: 169px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-3 {
    height: 169px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-repeater-2 {
    grid-template-columns: repeat(3, 33.333333333333336%);
    min-height: 373px;
  }

  .u-section-4 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-12 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 924px;
  }

  .u-section-4 .u-image-1 {
    height: 200px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-2 {
    height: 200px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-3 {
    height: 200px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-repeater-2 {
    grid-template-columns: repeat(2, 50%);
    min-height: 857px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-1 {
    height: 347px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-2 {
    height: 347px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-3 {
    height: 347px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-repeater-2 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-image-1 {
    height: 214px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-2 {
    height: 214px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-3 {
    height: 214px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-4 {
    margin-left: 18px;
  }

  .u-section-4 .u-image-5 {
    margin-left: 18px;
  }

  .u-section-4 .u-image-6 {
    margin-left: 18px;
  }
}